{% extends "dashboard.html" %}
{% block title %}情报管理{% endblock %}

{% block content %}

<h2 class="sub-header">情报列表</h2>

<div class="row">
    <div class="col-md-4">
        <div class="input-group">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span>${ filter_method }</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li v-for="fm in filter_methods" v-on:click="changeFilterMethod($index)">
                        <a href="#">${ fm }</a>
                    </li>
                </ul>
            </div><!-- /btn-group -->
            <input v-model="filter_text" type="text" class="form-control" aria-label="...">
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
</div><!-- /.row -->

<div class="row"><p></p></div>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>时间</th>
                <th>发布人</th>
                <th>优先级</th>
                <th>内容</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="item in filterd_items" v-bind:class="{'danger' : item.urgent}">
                <td>${ item.updated_time }</td>
                <td>${ item.publisher.name }</td>
                <td>${ item.urgent ? '紧急' : '普通' }</td>
                <td>${ item.text }</td>
                <td>
                    <div class="btn-toolbar" role="toolbar" aria-label="...">
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" class="btn btn-default">查看</button>
                        </div>
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" class="btn btn-danger">删除</button>
                        </div>
                    </div>
                </td
            </tr>
        </tbody>
    </table>
</div>

<script>
    var PUBLISHER_ID_CONTAINS = '发布人ID包含';
    var CONTENT_CONTAINS = '内容包含';

    new Vue({
        el: '#dashboard',
        data: {
            filter_methods: [PUBLISHER_ID_CONTAINS, CONTENT_CONTAINS],
            filter_method: PUBLISHER_ID_CONTAINS,
            filter_text: '',
            items: [
                {updated_time: '2016-08-01 11:07:39', publisher: {id: 'txp', name: '陶先平'}, urgent: false, text:'加强寝室建设'},
                {updated_time: '2016-07-21 18:24:32', publisher: {id: 'yuy', name: '俞扬'}, urgent: false, text:'我喜欢吃可乐鸡翅'},
                {updated_time: '2016-07-21 18:22:22', publisher: {id: 'yinyt', name: '尹一通'}, urgent: true, text:'我是尹一通，我今年将作为访问学者到卡耐基梅隆大学进行访问！'},
                {updated_time: '2016-07-21 15:59:47', publisher: {id: 'txp', name: '陶先平'}, urgent: false, text:'下面是百度的宣传图册'},
            ],
        },
        computed: {
            filterd_items : function() {
                var ft = this.filter_text;
                if (ft.length === 0) {
                    return this.items;
                } else {
                    console.log(this.filter_method + ': ' + this.filter_text);
                    if (this.filter_method == PUBLISHER_ID_CONTAINS) {
                        return this.items.filter(function(item) {
                            return item.publisher.id.match(ft);   
                        });
                    } else if (this.filter_method == CONTENT_CONTAINS) {
                        return this.items.filter(function(item) {
                            return item.text.match(ft);
                        });
                    } else {
                        return this.items;
                    }
                }
            },
        },
        methods: {
            changeFilterMethod: function(index) {
                this.filter_method = this.filter_methods[index];
            },
        },
    });
</script>

{% endblock %} 
